article {
	height: auto;
	margin-top: 20px;
	min-height: 570px;
	width: 960px;
}
article h1 {
	color: black;
	font-size: .75em;
	margin: 0px 0px 0px 5px;
	padding: 7px;
	text-transform: uppercase;
}
article h2 {
	color: white;
	font-size: .85em;
	margin: 15px 0px;
	padding-left: 20px;
}
article p {
	color: white;
	font-size: .75em;
	line-height: 1.4em;
	margin: 10px 0px;
	padding: 0px 20px;
}
.button {
	background-color: #fdc744;
	border: 3px solid black;
	border-radius: 4px;
	color: black;
	font-size: .65em;
	font-weight: bold;
	margin-left: 97px;
	padding: 5px 10px;
	position: relative;
	text-transform: uppercase;
}
.button:after, .button:before {
	left: 98%;
	top: 51%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.button:after {
	border-color: rgba(253, 199, 68, 0);
	border-left-color: #fdc744;
	border-width: 11px;
	margin-top: -11px;
}
.button:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000000;
	border-width: 17px;
	margin-top: -17px;
}
h3 {
	color: white;
}
body {
	margin: 0px auto;
	width: 960px;
	background-color: black;
	font-family: arial, sans-serif;
}
.downArrow {
	color: white;
	margin-left: 5px;
}
#floatingLine {
	margin: 10px 0px;
}
#floatingLine p {
	color: #949963;
	display: inline-block;
	margin: 0px 10px;
	padding: 3px 0px;
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6, p {
	color: black;
}
header {
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(left,  #e8e8e8 0%, #ffffff 26%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8e8e8), color-stop(26%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e8e8e8 0%,#ffffff 26%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e8e8e8 0%,#ffffff 26%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e8e8e8 0%,#ffffff 26%); /* IE10+ */
	background: linear-gradient(to right,  #e8e8e8 0%,#ffffff 26%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	margin: 0px;
	padding-bottom: 32px;
	width: 960px;
}
.ppcLogo {
	vertical-align: top;
}
#ppcTollFree {
	display: inline-block;
	padding-top: 33px;
	margin-left: 308px;
	text-align: right;
	vertical-align: top;
	width: 290px;
}
#ppcTollFree a {
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
}
#ppcTollFree a:hover {
	color: #fdc744;
}
#mainContent {
	background: rgba(255, 255, 255, 0.25);
	display: inline-block;
	height: 267px;
	margin: 0px 0px 0px 10px;
	vertical-align: top;
	width: 548px;
}
#mainPic {
	border: 5px solid white;
	display: inline-block;
	height: 255px;
	margin-right: 10px;
	vertical-align: top;
	width: 377px;
}
#mainHeading {
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
	margin: 0px;
	width: 548px;
}
nav {
	background: #f3f6f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f6f7 0%, #e2e8ec 50%, #d8dfe4 51%, #eef1f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f6f7), color-stop(50%,#e2e8ec), color-stop(51%,#d8dfe4), color-stop(100%,#eef1f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f6f7', endColorstr='#eef1f4',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid gray;
	margin: 0px;
	width: 960px;
}
nav a {
	color: #666666;
	background: #f3f6f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f6f7 0%, #e2e8ec 50%, #d8dfe4 51%, #eef1f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f6f7), color-stop(50%,#e2e8ec), color-stop(51%,#d8dfe4), color-stop(100%,#eef1f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f6f7 0%,#e2e8ec 50%,#d8dfe4 51%,#eef1f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f6f7', endColorstr='#eef1f4',GradientType=0 ); /* IE6-9 */
	display: block;
	font-size: .71em;
	font-weight: bold;
	padding: 7px 17px;
	text-decoration: none;
	text-transform: uppercase;
}
nav a:hover {
	color: #fdc744;
}
nav li {
	border-left: 1px solid white;
	border-right: 1px solid #cccccc;
	margin: 0;
	padding: 0px;
}
nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
nav ul li {
	display: inline-block;
	margin: 0px;
}
.widgetHeading {
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
	margin: 0px;
	width: 222px;
}
#widgetOne {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fff4de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fff4de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fff4de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff4de',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	height: 250px;
	margin-right: 19px;
	margin-top: 0px;
	vertical-align: top;
	width: 222px;
}
#widgetOne a {
	color: black;
	text-decoration: none;
}
#widgetOne p {
	color: black;
	font-size: .7em;
	margin: 10px 0px;
	line-height: 1.2em;
	padding: 0px 15px;
}
#widgetTwo {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fff4de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fff4de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fff4de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff4de',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	height: 250px;
	margin-right: 19px;
	margin-top: 0px;
	vertical-align: top;
	width: 222px;
}
#widgetTwo a {
	color: black;
	text-decoration: none;
}
#widgetTwo p {
	color: black;
	font-size: .7em;
	margin: 10px 0px 22px 0px;
	line-height: 1.2em;
	padding: 0px 15px;
}
#widgetThree {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fff4de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fff4de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fff4de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff4de',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	margin-right: 20px;
	margin-top: 0px;
	height: 250px;
	vertical-align: top;
	width: 222px;
}
#widgetThree a {
	color: black;
	text-decoration: none;
}
#widgetThree p {
	color: black;
	font-size: .7em;
	margin: 10px 0px;
	line-height: 1.2em;
	padding: 0px 15px;
}
#widgetFour {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fff4de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fff4de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fff4de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fff4de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff4de',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	height: 250px;
	margin-top: 0px;
	vertical-align: top;
	width: 222px;
}
#widgetFour a {
	color: black;
	text-decoration: none;
}
#widgetFour p {
	color: black;
	font-size: .7em;
	margin: 10px 0px;
	line-height: 1.2em;
	padding: 0px 15px;
}